.cart-page-wrapper {
  width: 70%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-page-wrapper__back-to-shopping-btn {
  padding: 20px;
  margin: 20px 0 0 10px;
  width: fit-content;
  font-size: 1em;
  background: none;
  border: none;
  cursor: pointer;
}
.cart-page-wrapper__back-to-shopping-btn .arrow-left {
  margin-right: 10px;
}

@media (max-width: 1300px) {
  .cart-page-wrapper {
    width: 85%;
    max-width: 85%;
  }
}
@media (max-width: 992px) {
  .cart-page-wrapper {
    width: 90%;
    max-width: 100%;
  }
}