.cart-wrapper {
  width: 70%;
  max-width: 70%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.cart-wrapper .cart-container {
  padding: 10px;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.cart-wrapper .cart-container__header-box {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cart-wrapper .cart-container__header {
  margin: 0;
}
.cart-wrapper .cart-container__header--gray {
  color: #919191;
}
.cart-wrapper .cart-container__clear-cart-btn {
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
}
.cart-wrapper .cart-container__clear-cart-btn:hover {
  color: red;
}
.cart-wrapper .cart-container__trash-icon {
  margin-left: 10px;
}
.cart-wrapper .cart-container .cart-box {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px -6px;
}
.cart-wrapper .cart-container .cart-box .item-box-final {
  width: 90%;
  justify-content: space-between;
}
.cart-wrapper .cart-container .cart-box .item-box-final__item-img {
  margin-left: 4%;
}
.cart-wrapper .cart-container .cart-box .item-box-final__item-price {
  margin-left: 20px;
  width: 60px;
  min-width: 60px;
}
.cart-wrapper .cart-container .cart-box .item-box-final__info-icon-container {
  margin-left: auto;
  margin-right: 1%;
}
.cart-wrapper .cart-container .cart-box .item-box-final__info-icon {
  color: #222;
}
.cart-wrapper .cart-container .cart-box .item-box-final__insurance-btn {
  padding: 15px 5px;
  background: none;
  border: none;
  cursor: pointer;
}
.cart-wrapper .cart-container .cart-box .item-box-final__trash-button {
  margin-left: auto;
}
.cart-wrapper .go-to-order-form-container {
  padding: 10px;
  width: 28%;
  height: 20px;
  background-color: red;
}