.cart-window-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.cart-window-background .cart-window-wrapper {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  background-color: #ffffff;
  z-index: 3;
}
.cart-window-background .cart-window-wrapper .cart-window-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.cart-window-background .cart-window-wrapper .cart-window-container__header-box {
  left: 0px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c7c7c7;
}
.cart-window-background .cart-window-wrapper .cart-window-container__header {
  display: flex;
  align-items: center;
  margin: 0;
}
.cart-window-background .cart-window-wrapper .cart-window-container__back-btn {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
}
.cart-window-background .cart-window-wrapper .cart-window-container .XIcon {
  pointer-events: none;
}
.cart-window-background .cart-window-wrapper .cart-window-container__item-box {
  padding: 20px 0;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
}
.cart-window-background .cart-window-wrapper .cart-window-container__item-box:last-child {
  border-bottom: none;
}
.cart-window-background .cart-window-wrapper .cart-window-container__item-img {
  margin-right: 15px;
  width: 70px;
}
.cart-window-background .cart-window-wrapper .cart-window-container__item-name {
  display: block;
  font-size: 14px;
  width: 38%;
}
.cart-window-background .cart-window-wrapper .cart-window-container .quantity-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.cart-window-background .cart-window-wrapper .cart-window-container .quantity-box__btn {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c7c7c7;
  border: none;
  font-size: 18px;
  font-weight: 700;
  transition: 0.2s ease-out;
  cursor: pointer;
}
.cart-window-background .cart-window-wrapper .cart-window-container .quantity-box__btn:not([disabled]):hover {
  background-color: #277ec1;
  color: white;
}
.cart-window-background .cart-window-wrapper .cart-window-container .quantity-box__btn--left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.cart-window-background .cart-window-wrapper .cart-window-container .quantity-box__btn--right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.cart-window-background .cart-window-wrapper .cart-window-container .quantity-box__quantity-span {
  padding: 4px;
  width: 25px;
  height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #c7c7c7;
  text-align: center;
  font-size: 14px;
}
.cart-window-background .cart-window-wrapper .cart-window-container__item-price {
  position: relative;
  right: 0;
  display: block;
  margin-left: auto;
  font-weight: 700;
}
.cart-window-background .cart-window-wrapper .cart-window-container__empty-cart-notification-box {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-window-background .cart-window-wrapper .cart-window-container__empty-cart-notification {
  font-size: 24px;
  font-weight: 400;
  color: #c7c7c7;
}
.cart-window-background .cart-window-wrapper .cart-window-container__trash-icon {
  padding: 10px;
  margin-left: 5px;
  color: #c7c7c7;
  cursor: pointer;
}
.cart-window-background .cart-window-wrapper .cart-window-container__trash-icon:hover {
  color: red;
}
.cart-window-background .cart-window-wrapper .cart-window-container__trash-button {
  background: none;
  border: none;
}
.cart-window-background .cart-window-wrapper .cart-window-container__lower-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  margin-left: 10px;
}
.cart-window-background .cart-window-wrapper .cart-window-container__total-price-span {
  font-size: 16px;
}
.cart-window-background .cart-window-wrapper .cart-window-container__total-price {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 700;
}
.cart-window-background .cart-window-wrapper .cart-window-container__checkoutBtn {
  padding: 20px 15px;
  background: none;
  border: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
.cart-window-background .cart-window-wrapper .cart-window-container__checkoutBtn .arrow-right {
  margin-left: 15px;
}