.final-cart-wrapper {
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c7c7c7;
}
.final-cart-wrapper .cart-inner-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container {
  padding: 10px;
  width: 65%;
  display: flex;
  flex-direction: column;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container__header-box {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container__header {
  margin: 0;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container__header--gray {
  color: #919191;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container__clear-cart-btn {
  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container__clear-cart-btn:hover {
  color: red;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container__trash-icon {
  margin-left: 10px;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container .cart-box {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px -6px;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container .cart-box .item-box-final {
  width: 90%;
  justify-content: space-between;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container .cart-box .item-box-final__item-img {
  margin-left: 0%;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container .cart-box .item-box-final__item-price {
  margin-left: 5%;
  width: 60px;
  min-width: 60px;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container .cart-box .item-box-final__info-icon-container {
  position: relative;
  margin-left: auto;
  margin-right: 1%;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container .cart-box .item-box-final__info-icon {
  color: #222;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container .cart-box .item-box-final__info-icon:hover + .show-info {
  opacity: 1;
  visibility: visible;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container .cart-box .item-box-final__info-box {
  position: absolute;
  top: -65px;
  left: -240px;
  width: 230px;
  opacity: 0;
  visibility: hidden;
  background-color: #e7e7e7;
  transition: 0.3s ease-out;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container .cart-box .item-box-final__info {
  padding: 10px;
  margin: 0;
  font-size: 0.75em;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container .cart-box .item-box-final__insurance-price {
  display: block;
  padding: 10px;
  font-size: 0.75em;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container .cart-box .item-box-final__insurance-btn {
  padding: 15px 5px;
  background: none;
  border: none;
  cursor: pointer;
}
.final-cart-wrapper .cart-inner-wrapper .cart-container .cart-box .item-box-final__trash-button {
  margin-left: auto;
}
.final-cart-wrapper a {
  width: fit-content;
}

@media (min-width: 2000px) {
  .final-cart-wrapper {
    max-width: 1700px;
  }
}