.dell-news-scroller-container {
  margin-top: 200px;
  width: 100%;
  display: flex;
}
.dell-news-scroller-container .dell-news-box {
  margin: 0 20px;
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px -6px;
}
.dell-news-scroller-container .dell-news-box__image-container {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dell-news-scroller-container .dell-news-box__image {
  width: 300px;
}
.dell-news-scroller-container .dell-news-box__description-container {
  padding: 0 5%;
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  background-color: #7eb8e6;
}
.dell-news-scroller-container .dell-news-box__product-type-span {
  margin-top: 20px;
}