@charset "UTF-8";
.filter-container {
  top: 0;
  position: sticky;
  margin-top: 5px;
  width: 20%;
  min-width: 250px;
  box-shadow: 0 0 10px -6px;
}
.filter-container .filter-padding-container {
  padding: 20px;
}
.filter-container .filter-padding-container ul {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  list-style: none;
}
.filter-container .filter-padding-container label {
  user-select: none;
  font-size: 14px;
}
.filter-container__filter-header {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}
.filter-container__filter-checkbox-element {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.filter-container__filter-checkbox {
  appearance: none;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filter-container__filter-checkbox:checked {
  background-color: rgb(0, 0, 0);
}
.filter-container__filter-checkbox:checked::before {
  content: "✔";
  font-size: 12px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 1px;
}
.filter-container__price-range-span {
  display: block;
  margin: 20px 0 10px;
  font-size: 18px;
}
.filter-container__price-range-inputs-container {
  font-size: 12px;
}
.filter-container__price-range-inputs-container input[type=number] {
  all: unset;
  padding: 2px;
  border: 1px solid black;
  width: 60px;
  font-size: 12px;
}

.filter-threshold {
  height: 0;
}

.filter-sticky {
  top: 90px;
  position: sticky;
}