.footer-layout {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 10px -6px;
}
.footer-layout .payments-span {
  padding-top: 50px;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  font-size: 24px;
  font-weight: 400;
}
.footer-layout .footer-upper-container {
  padding-bottom: 25px;
  width: 70%;
}
.footer-layout .footer-upper-container__payment-methods-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}
.footer-layout .footer-upper-container__payment-icon {
  width: 70px;
}
.footer-layout .footer-lower-container {
  margin: 50px 0;
  padding: 80px 20px 0;
  width: 70%;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px -10px 10px -15px;
}
.footer-layout .footer-lower-container__box {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.footer-layout .footer-lower-container__link {
  position: relative;
  display: inline-block;
  width: fit-content;
  cursor: pointer;
}
.footer-layout .footer-lower-container__link::after {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 1px solid black;
  transition: 0.2s ease-out;
}
.footer-layout .footer-lower-container__link:hover::after {
  width: 100%;
}
.footer-layout .footer-lower-container__social-icons {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-layout .footer-lower-container__social-icons .social-icon {
  padding: 10px 10px;
  font-size: 30px;
}
.footer-layout .footer-lower-container__social-icons .social-icon:first-child {
  padding-left: 0;
}
.footer-layout .footer-lower-container__social-icons .social-icon:hover {
  color: #277ec1;
}
.footer-layout .copyright-container {
  margin: 50px 0 30px;
  width: 70%;
  display: flex;
  justify-content: flex-start;
}
.footer-layout .copyright-container__copyright-span {
  font-size: 12px;
}

@media (min-width: 2000px) {
  .footer-layout {
    width: 100%;
  }
  .footer-layout .payments-span {
    width: 70%;
    max-width: 1700px;
  }
  .footer-layout .footer-upper-container {
    width: 70%;
    max-width: 1700px;
  }
  .footer-layout .footer-lower-container {
    width: 70%;
    max-width: 1700px;
  }
}
@media (max-width: 1600px) {
  .footer-layout .payments-span {
    width: 80%;
  }
  .footer-layout .footer-upper-container {
    width: 80%;
  }
  .footer-layout .footer-lower-container {
    width: 80%;
  }
  .footer-layout .copyright-container {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .footer-layout .payments-span {
    width: 85%;
    margin-bottom: 20px;
  }
  .footer-layout .footer-upper-container {
    width: 85%;
  }
  .footer-layout .footer-lower-container {
    padding: 80px 0 0;
    width: 90%;
  }
  .footer-layout .footer-lower-container__box {
    padding: 0 10px;
  }
  .footer-layout .footer-lower-container__link {
    font-size: 0.8em;
  }
  .footer-layout .footer-lower-container__social-icons {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-layout .footer-lower-container__social-icons .social-icon {
    padding: 10px 5px;
    font-size: 18px;
  }
  .footer-layout .footer-lower-container__social-icons .social-icon:first-child {
    padding-left: 5px;
  }
  .footer-layout .copyright-container {
    width: 85%;
  }
}