.header-container {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  width: 1500px;
}
.header-container .header-logo-bar {
  background-color: #ddd;
}
.header-container .header-logo-bar .header-logo-bar__logo {
  width: 300px;
}