.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1500px;
  width: 1500px;
}
.header-container .header-logo-bar {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header-container .header-logo-bar .header-logo-bar__logo {
  width: 300px;
}
.header-container .header-logo-bar .header-logo-bar__contact-button {
  padding: 20px;
  padding-bottom: 0;
  background: none;
  font-size: 14px;
  border: none;
  cursor: pointer;
}
.header-container .carousel-container {
  height: 200px;
  width: 1200px;
  border: 1px solid #1b1b1b;
}
.header-container .carousel-container .baner-bg {
  width: 100%;
  height: 100%;
  background-image: url(../../img/baner1.png);
}