.navbar-container-mobile {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  box-shadow: 0 10px 10px -10px gray;
  transition: 0.4s width ease-out;
}
.navbar-container-mobile .burger-icon {
  padding: 10px;
  margin-left: 30px;
  font-size: 1.7em;
  cursor: pointer;
}
.navbar-container-mobile .product-pages-buttons-container {
  position: absolute;
  top: 0px;
  padding: 20px 0 40px 0;
  margin: 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  box-shadow: 0 0 10px -6px;
  list-style: none;
  z-index: 3;
}
.navbar-container-mobile .product-pages-buttons-container__x-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}
.navbar-container-mobile .product-pages-buttons-container__x-btn .XIcon {
  padding: 10px;
  font-size: 2em;
  cursor: pointer;
}
.navbar-container-mobile .product-pages-buttons-container__nav-element {
  width: 200px;
  display: flex;
  justify-content: center;
}
.navbar-container-mobile .product-pages-buttons-container__nav-button {
  position: relative;
  padding: 30px 20px 15px;
  width: 140px;
  background: none;
  border: none;
  border-bottom: 1px solid #c7c7c7;
  font-size: 1em;
  cursor: pointer;
}
.navbar-container-mobile .product-pages-buttons-container__nav-button::after {
  content: "";
  position: absolute;
  top: 0.5px;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-bottom: 1px solid black;
  transition: 0.2s ease-out;
}
.navbar-container-mobile .product-pages-buttons-container__nav-button:hover::after {
  width: 100%;
}
.navbar-container-mobile .product-pages-buttons-container .active {
  border-bottom: 1px solid black;
}
.navbar-container-mobile .product-pages-buttons-container__logo-menu-button {
  bottom: 5px;
}
.navbar-container-mobile .product-pages-buttons-container__logo-menu-button .logo-in {
  animation: showNavLogo 0.4s ease-out forwards;
}
.navbar-container-mobile .product-pages-buttons-container__logo-menu-button .logo-out {
  pointer-events: none;
  user-select: none;
  animation: hideNavLogo 0.4s ease-out forwards;
}
.navbar-container-mobile .product-pages-buttons-container__logo-nav-img {
  padding: 15px;
  width: 135px;
  cursor: pointer;
}
.navbar-container-mobile .logo-button-off {
  user-select: none;
  pointer-events: none;
}
.navbar-container-mobile .product-pages-buttons-container--off {
  display: none;
}
.navbar-container-mobile .cart-container {
  position: relative;
  right: 0px;
  width: 50px;
  height: 50px;
  margin-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-container-mobile .cart-container__cart-button {
  padding: 15px;
  background: none;
  border: none;
  cursor: pointer;
}
.navbar-container-mobile .cart-container__cart-icon {
  font-size: 30px;
}
.navbar-container-mobile .cart-container__items-counter-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 40%;
  left: 10%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7eb8e6;
}
.navbar-container-mobile .cart-container__items-counter {
  margin-left: 2px;
  margin-bottom: 1px;
  color: white;
}
.navbar-container-mobile__empty-left-spacer {
  width: 70px;
  height: 50px;
}

.sticky {
  position: fixed;
  top: 0;
  margin-top: 0;
  width: 100%;
  z-index: 1;
}

.spacer {
  margin-top: 70px;
}

@keyframes showNavLogo {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideNavLogo {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}