.adam-audio-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.adam-audio-container__upper-header {
  margin-bottom: 0;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.adam-audio-container__lower-header {
  margin-top: 10px;
  margin-bottom: 50px;
  font-size: 24px;
}
.adam-audio-container__description-box {
  display: flex;
  justify-content: space-between;
}
.adam-audio-container__description {
  width: 45%;
  color: #222;
  line-height: 40px;
  font-size: 18px;
}
.adam-audio-container__image-boxes-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.adam-audio-container .adam-audio-img-box {
  position: relative;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 350px;
  height: 350px;
  margin-top: 40px;
  background-color: #222;
  box-shadow: 0 0 15px -6px;
  z-index: 0;
}
.adam-audio-container .adam-audio-img-box__adam-image {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: -1;
  transition: 0.2s ease-out;
}
.adam-audio-container .adam-audio-img-box__header {
  margin-left: 30px;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 50px;
  font-weight: 400;
  user-select: none;
  z-index: 1;
}
.adam-audio-container .adam-audio-img-box__description {
  margin-left: 30px;
  margin-bottom: 60px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 200;
  user-select: none;
}

@media (max-width: 992px) {
  .adam-audio-container__upper-header {
    text-align: center;
    font-size: 2.2em;
  }
  .adam-audio-container__lower-header {
    text-align: center;
    font-size: 1.4em;
  }
  .adam-audio-container__description {
    width: 48%;
    line-height: 30px;
    font-size: 0.9em;
  }
  .adam-audio-container__image-boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .adam-audio-container .adam-audio-img-box {
    margin-top: 20px;
    width: 45%;
    height: 200px;
  }
  .adam-audio-container .adam-audio-img-box__adam-image {
    top: 8px;
    width: 90%;
  }
  .adam-audio-container .adam-audio-img-box__header {
    margin-left: 10px;
    font-size: 2em;
  }
  .adam-audio-container .adam-audio-img-box__description {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 80%;
    font-size: 0.7em;
  }
}