.news-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-section .news-container {
  margin-top: 50px;
  width: 60%;
}

@media (min-width: 2000px) {
  .news-section .news-container {
    width: 60%;
    max-width: 1500px;
  }
}
@media (max-width: 1600px) {
  .news-section .news-container {
    width: 80%;
  }
}