.back-btn-container {
  margin-top: 30px;
  width: 70%;
  max-width: 1300px;
}
.back-btn-container__back-btn {
  padding: 10px;
  font-size: 1em;
  background: none;
  border: none;
  cursor: pointer;
}
.back-btn-container__back-btn .arrow {
  margin-right: 10px;
}

.order-form-page {
  margin-top: 0px;
  margin-bottom: 150px;
  width: 70%;
  max-width: 1300px;
  display: flex;
  justify-content: center;
}
.order-form-page .order-form-container {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.order-form-page .order-form-container .data-container {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-form-page .order-form-container .data-container__inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.order-form-page .order-form-container .data-container__header {
  padding-bottom: 5px;
  margin: 30px auto 0 0;
  width: 100%;
  font-size: 1.25em;
  font-weight: 400;
  border-bottom: 1px solid #c7c7c7;
}
.order-form-page .order-form-container .data-container__inputs-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.order-form-page .order-form-container .data-container__label {
  margin-top: 15px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.order-form-page .order-form-container .data-container__input {
  margin-top: 5px;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
}