.navigator-description-container {
  margin: 25px 0 20px;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navigator-description-container__arrow-span {
  font-size: 26px;
  font-weight: 400;
}
.navigator-description-container__header {
  margin: 0;
  margin-left: 10px;
  font-weight: 400;
}

.main-product-container {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}

@media (min-width: 2000px) {
  .navigator-description-container {
    max-width: 1700px;
  }
  .main-product-container {
    max-width: 1700px;
  }
}
@media (max-width: 992px) {
  .main-product-container {
    width: 100%;
  }
}