.summary-page-wrapper {
  width: 70%;
  max-width: 1400px;
}
.summary-page-wrapper .summary-page-container {
  margin: 80px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.summary-page-wrapper .summary-page-container__header {
  margin: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
}
.summary-page-wrapper .summary-page-container__tick-img {
  margin: 15px 0;
  width: 70px;
}
.summary-page-wrapper .summary-page-container__delivery-shipped-span {
  font-size: 1em;
}
.summary-page-wrapper .summary-page-container .summary-list-container {
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
}
.summary-page-wrapper .summary-page-container .summary-list-container__element {
  padding: 10px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #c7c7c7;
}
.summary-page-wrapper .summary-page-container .summary-list-container__element:last-child {
  border-bottom: none;
}
.summary-page-wrapper .summary-page-container .summary-list-container__img {
  width: 50px;
}
.summary-page-wrapper .summary-page-container .summary-list-container__product-name {
  width: fit-content;
  margin: 0 15px;
}
.summary-page-wrapper .summary-page-container .summary-list-container__quantity {
  margin-left: auto;
  font-weight: bold;
}
.summary-page-wrapper .summary-page-container .summary-list-container__price {
  margin-left: 15px;
  min-width: 80px;
  text-align: end;
  font-weight: bold;
}
.summary-page-wrapper .summary-page-container .receipt-details-header {
  margin: 0 auto 0 20px;
  width: 100%;
}
.summary-page-wrapper .summary-page-container .final-order-details-container {
  padding: 30px 20px;
  margin: 20px 0 70px;
  width: 95%;
  display: flex;
  box-shadow: 0 0 10px -6px black;
}
.summary-page-wrapper .summary-page-container .final-order-details-container .final-order-details-box {
  padding: 20px 40px;
  width: 50%;
}
.summary-page-wrapper .summary-page-container .final-order-details-container .final-order-details-box__customer-header {
  margin: 20px 0 5px;
}
.summary-page-wrapper .summary-page-container .final-order-details-container .final-order-details-box__customer-details-container {
  display: flex;
  flex-direction: column;
}
.summary-page-wrapper .summary-page-container .final-order-details-container .final-order-details-box__price-box {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.summary-page-wrapper .summary-page-container .final-order-details-container .final-order-details-box__price-span:last-child {
  font-weight: bold;
  font-size: 1.2em;
}
.summary-page-wrapper .summary-page-container .final-order-details-container .final-order-details-box:first-child {
  border-right: 1px solid #c7c7c7;
}