@import "./colors.scss";

.cart-window-background {
	position: fixed;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 2;
	animation: cart-window-in-opacity 0.2s ease-out;
	.cart-window-wrapper {
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		width: 500px;
		max-height: 80vh;
		overflow-y: auto;
		background-color: $white;
		z-index: 3;
		animation: cart-window-in-scale 0.2s ease-out;
	}
}

.cart-window-container {
	// position: relative;
	padding: 20px;
	display: flex;
	flex-direction: column;

	&__header-box {
		// position: fixed;
		// top: 0;
		left: 0px;
		padding-bottom: 10px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid $gray;
	}
	&__header {
		display: flex;
		align-items: center;
		margin: 0;
		// margin-left: 30px;
	}
	&__back-btn {
		// margin-right: 20px;
		background: none;
		border: none;
		font-size: 28px;
		cursor: pointer;
	}
	.XIcon {
		pointer-events: none;
	}

	&__item-box {
		padding: 20px 0;
		width: 100%;
		display: flex;
		align-items: center;
		border-bottom: 1px solid $gray;
	}
	&__item-box:last-child {
		border-bottom: none;
	}

	&__item-img {
		margin-right: 15px;
		width: 70px;
	}
	&__item-name {
		display: block;
		font-size: 14px;
		width: 34%;
	}

	&__item-price {
		margin-left: auto;
		font-weight: 700;
	}
	&__empty-cart-notification-box {
		width: 100%;
		height: 200px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__empty-cart-notification {
		font-size: 24px;
		font-weight: 400;
		color: $gray;
	}
	&__trash-icon {
		padding: 10px;
		margin-left: 0px;
		color: $gray;
		cursor: pointer;
	}
	&__trash-icon:hover {
		color: red;
	}
	&__trash-button {
		margin-left: auto;
		background: none;
		border: none;
	}
	&__lower-container {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 25px;
	}

	&__total-price-container {
		width: 90%;
		display: flex;
		justify-content: space-between;
	}

	&__total-price-span {
		font-size: 1em;
	}
	&__total-price {
		margin-left: 10px;
		font-size: 1.1em;
		font-weight: 700;
	}
	&__checkoutBtn {
		margin-top: 15px;
		margin-bottom: 10px;
		padding: 20px 14.5px;
		background: none;
		border: none;
		font-size: 1.1em;
		font-weight: 700;
		cursor: pointer;
		.arrow-right {
			margin-left: 15px;
		}
	}
}
.quantity-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;

	&__btn {
		width: 22px;
		height: 22px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: $gray;
		border: none;
		font-size: 18px;
		font-weight: 700;
		transition: 0.2s ease-out;
		cursor: pointer;
	}
	&__btn:not([disabled]):hover {
		background-color: $blue;
		color: white;
	}
	&__btn--left {
		border-top-left-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	&__btn--right {
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	&__quantity-span {
		padding: 4px;
		width: 25px;
		height: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid $gray;
		text-align: center;
		font-size: 14px;
	}
}

@keyframes cart-window-in-opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes cart-window-in-scale {
	from {
		scale: 40%;
	}
	to {
		scale: 100%;
	}
}

// RWD for mobile
@media (max-width: 992px) {
	.cart-window-background {
		.cart-window-wrapper {
			width: 95%;
		}
	}
	.cart-window-container {
		padding: 20px;

		&__item-box {
			padding: 10px 0;
			width: 100%;
			display: flex;
			align-items: center;
			border-bottom: 1px solid $gray;
		}

		&__item-img {
			margin-right: 5px;
			width: 50px;
		}
		&__item-name {
			font-size: 0.7em;
		}
		&__item-price {
			margin-left: auto;
			min-width: fit-content;
			font-weight: 700;
			font-size: 0.75em;
		}

		&__empty-cart-notification {
			font-size: 1.2em;
		}
		&__trash-icon {
			padding: 5px;
		}

		&__total-price-span {
			font-size: 0.9em;
		}
		&__total-price {
			font-size: 1em;
		}
		&__checkoutBtn {
			font-size: 1em;
		}
	}
	.quantity-box {
		margin-right: 5px;
	}
}
