@import "./colors.scss";

.final-cart-wrapper {
	padding-bottom: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid $gray;
	.cart-inner-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-top: 40px;
		.cart-container {
			padding: 10px;
			width: 65%;
			display: flex;
			flex-direction: column;

			&__header-box {
				padding: 0 20px;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
			&__header {
				margin: 0;
			}
			&__header--gray {
				color: $darkGray;
			}
			&__clear-cart-btn {
				padding: 5px;
				background: none;
				border: none;
				cursor: pointer;
			}
			&__clear-cart-btn:hover {
				color: red;
			}
			&__trash-icon {
				margin-left: 10px;
			}
			.cart-box {
				margin-top: 20px;
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;

				box-shadow: 0 0 10px -6px;

				.item-box-final {
					width: 90%;
					justify-content: space-between;
					&__item-img {
						margin-left: 0%;
					}
					&__item-price {
						margin-left: 5%;
						width: 60px;
						min-width: 60px;
					}
					&__info-icon-container {
						position: relative;
						margin-left: auto;
						margin-right: 1%;
					}
					&__info-icon {
						color: $dark;
					}
					&__info-icon:hover + .show-info {
						opacity: 1;
						visibility: visible;
					}

					&__info-box {
						position: absolute;
						top: -65px;
						left: -240px;
						width: 230px;
						// height: 150px;
						opacity: 0;
						// border: 1px solid black;
						visibility: hidden;
						background-color: $lightgray;
						transition: 0.3s ease-out;
					}
					&__info {
						padding: 10px;
						margin: 0;
						font-size: 0.75em;
					}
					&__insurance-price {
						display: block;
						padding: 10px;
						font-size: 0.75em;
					}
					&__insurance-btn {
						padding: 15px 5px;
						background: none;
						border: none;
						cursor: pointer;
					}
					&__trash-button {
						margin-left: auto;
					}
				}
			}
		}
	}
	a {
		width: fit-content;
	}
}

// RWD for 4k
@media (min-width: 2000px) {
	.final-cart-wrapper {
		max-width: 1700px;
		.cart-inner-wrapper {
			.cart-container {
			}
		}
	}
}

// RWD for 125% display scale
@media (max-width: 1600px) {
	.final-cart-wrapper {
		.cart-inner-wrapper {
			.cart-container {
				.cart-box {
					.item-box-final {
						&__insurance-btn {
							width: 120px;
							font-size: 0.7em;
						}
					}
				}
			}
		}
	}
}

// RWD for mobile
@media (max-width: 992px) {
	.final-cart-wrapper {
		width: 100%;
		.cart-inner-wrapper {
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			.cart-container {
				width: 100%;
				margin-bottom: 30px;
				&__header-box {
					padding: 0;
				}
				.cart-box {
					.item-box-final {
						width: 95%;
						flex-wrap: wrap;
						justify-content: flex-start;

						&__item-img {
							margin-left: 0%;
							margin-bottom: 10px;
						}
						&__item-name {
							margin-right: 10px;
						}

						&__item-price {
							text-align: end;
							font-size: 0.7em;
							margin-left: 5px;
							width: 45px;
							min-width: 45px;
						}
						&__info-icon-container {
							margin-left: 10px;
							margin-right: 5px;
						}
					}
				}
			}
		}
		a {
			width: fit-content;
		}
	}
}
