.cart-window-wrapper {
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	width: 500px;
	max-height: 80vh;
	overflow-y: auto;
	background-color: white;
	border: 1px solid black;
	z-index: 1;

	.cart-window-container {
		padding: 20px;
		display: flex;
		flex-direction: column;

		&__item-box {
			padding: 20px 0;
			width: 100%;
			display: flex;
			align-items: center;
			border-bottom: 1px solid black;
		}
		&__item-box:last-child {
			border-bottom: none;
		}
		&__header {
			margin: 0;
		}
		&__item-img {
			margin-right: 30px;
			width: 70px;
		}
		&__item-name {
			display: block;
			font-size: 14px;
			width: 50%;
		}
		&__item-price {
			position: relative;
			right: 0;
			display: block;
			margin-left: auto;
			font-weight: 700;
		}
	}
}
