@import "./colors.scss";

.checkbox {
	appearance: none;
	width: 15px;
	height: 15px;
	margin-right: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid $black;
}
.checkbox:checked {
	background-color: $black;
}
.checkbox:checked::before {
	content: "✔";
	position: relative;
	margin: 0;
	padding: 0;
	margin-bottom: 1px;
	font-size: 12px;
	color: $white;
}
