$white: #ffffff;
$lightgray: #e7e7e7;
$gray: #c7c7c7;
$darkGray: #919191;
$blue: #277ec1;
$darkblue: #216ba3;
$lightblue: #7eb8e6;
$black: #1b1b1b;
$dark: #222;
$invalidRed: #ffa0a0;
$validGreen: rgb(185, 255, 179);
