@import "./colors.scss";

.filter-container {
	top: 0;
	position: sticky;
	margin-top: 5px;
	width: 20%;
	min-width: 250px;
	box-shadow: 0 0 10px -6px;

	.filter-padding-container {
		padding: 20px;
		ul {
			margin: 0;
			padding: 0;
			margin-top: 20px;
			list-style: none;
		}
		label {
			user-select: none;
			font-size: 14px;
		}
	}

	&__filter-header {
		margin: 0;
		font-size: 18px;
		font-weight: 600;
	}

	&__filter-checkbox-element {
		margin-bottom: 10px;
		display: flex;
		align-items: center;
	}

	&__filter-checkbox {
		appearance: none;
		width: 15px;
		height: 15px;
		margin-right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
	}
	&__filter-checkbox:checked {
		background-color: rgb(0, 0, 0);
	}
	&__filter-checkbox:checked::before {
		content: "✔";
		position: relative;
		margin: 0;
		padding: 0;
		margin-bottom: 1px;
		font-size: 12px;
		color: $white;
	}

	&__price-range-span {
		margin: 20px 0 10px;
		display: block;
		font-size: 18px;
	}
	&__price-range-inputs-container {
		font-size: 12px;

		input[type="number"] {
			all: unset;
			padding: 2px;
			width: 60px;
			border: 1px solid black;
			font-size: 12px;
		}
	}

	input[type="radio"] {
		margin: 3px 10px 3px 4px;
	}

	&__reset-button {
		margin-top: 10px;
		padding: 10px 30px;
		background: none;
		border: none;
		box-shadow: 0px 0px 10px -6px;
	}
}
.filter-threshold {
	height: 0;
}

.filter-sticky {
	top: 90px;
	position: sticky;
}
