@import "./colors.scss";

.final-cart-lower-box-wrapper {
	margin-top: 50px;
	margin-bottom: 100px;
	width: 100%;
	.guarantee-container {
		display: flex;
		justify-content: space-evenly;
		&__box {
			display: flex;
		}
		&__icon-img {
			margin-right: 10px;
		}

		&__description-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
		}
		&__description {
			font-size: 0.8em;
			color: $dark;
			letter-spacing: 1px;
		}
		&__description--gray {
			color: $darkGray;
		}
	}
	.recommended-products-container {
		position: relative;
		margin-top: 50px;

		&__header {
			padding-bottom: 10px;
			font-size: 1.25em;
			font-weight: 400;
			border-bottom: 1px solid $gray;
		}
		.recommended-products-carousel-container {
			position: relative;
			display: flex;
			align-items: center;

			&__arrow-btn {
				position: absolute;
				width: 50px;
				height: 50px;
				border-radius: 5px;
				background-color: $white;
				border: none;
				box-shadow: 0 0 10px -6px;
				transition: 0.2s ease-out;
				cursor: pointer;

				.arrow-icon {
					font-size: 1.75em;
					pointer-events: none;
				}
			}
			&__arrow-btn:hover {
				background-color: $lightblue;
			}
			.arrow-left-btn {
				left: 10px;
			}
			.arrow-right-btn {
				right: 10px;
			}
			.recommended-products-carousel {
				margin: 50px 20px 0;
				padding: 10px 30px;
				display: flex;
				align-items: center;
				overflow-x: hidden;
				scroll-behavior: smooth;

				.recommended-product-box {
					padding: 10px 25px;
					margin: 0 15px;
					min-height: 280px;
					display: flex;
					flex-direction: column;
					justify-content: flex-start;
					box-shadow: 0 0 10px -6px;
					&__product-image-container {
						height: 160px;
					}
					&__product-image {
						width: 150px;
					}
					&__product-name {
						text-align: center;
						font-size: 0.85em;
					}
					&__read-more {
						margin-top: auto;
						margin-bottom: 10px;
						display: flex;
						align-items: center;
						justify-content: space-evenly;
						font-weight: 600;
						font-size: 0.75em;
						.highlight {
							margin-left: 10px;
							transition: 0.3s ease-out;
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}
