@import "./colors.scss";

.footer-layout {
	margin-top: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-shadow: 0 0 10px -6px;

	.payments-span {
		padding-top: 50px;
		width: 70%;
		display: flex;
		justify-content: flex-start;
		font-size: 24px;
		font-weight: 400;
	}

	.footer-upper-container {
		padding-bottom: 25px;
		width: 70%;

		&__payment-methods-box {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: center;
			gap: 30px;
		}
		&__payment-icon {
			width: 70px;
		}
	}

	.footer-lower-container {
		margin: 50px 0;
		padding: 80px 20px 0;
		width: 70%;
		display: flex;
		justify-content: space-between;
		box-shadow: 0px -10px 10px -15px;
		&__box {
			gap: 20px;
			display: flex;
			flex-direction: column;
		}
		&__link {
			position: relative;
			display: inline-block;
			width: fit-content;
			cursor: pointer;
		}
		&__link::after {
			content: "";
			position: absolute;
			top: 5px;
			bottom: 0;
			left: 0;
			width: 0%;
			height: 100%;
			border-bottom: 1px solid black;
			transition: 0.2s ease-out;
		}
		&__link:hover::after {
			width: 100%;
		}
		&__social-icons {
			margin-top: 15px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.social-icon {
				padding: 10px 10px;
				font-size: 30px;
			}
			.social-icon:first-child {
				padding-left: 0;
			}
			.social-icon:hover {
				color: $blue;
			}
		}
	}
	.copyright-container {
		margin: 50px 0 30px;
		width: 70%;
		display: flex;
		justify-content: flex-start;
		&__copyright-span {
			font-size: 12px;
		}
	}
}

// RWD for 4k
@media (min-width: 2000px) {
	.footer-layout {
		width: 100%;
		.payments-span {
			width: 70%;
			max-width: 1700px;
		}
		.footer-upper-container {
			width: 70%;
			max-width: 1700px;
		}

		.footer-lower-container {
			width: 70%;
			max-width: 1700px;
		}
	}
}

// RWD for 125% display scale
@media (max-width: 1600px) {
	.footer-layout {
		.payments-span {
			width: 80%;
		}
		.footer-upper-container {
			width: 80%;
		}

		.footer-lower-container {
			width: 80%;
		}
		.copyright-container {
			width: 80%;
		}
	}
}

// RWD for mobile
@media (max-width: 992px) {
	.footer-layout {
		.payments-span {
			width: 85%;
		}
		.footer-upper-container {
			width: 85%;
		}

		.footer-lower-container {
			width: 85%;

			&__box {
				padding: 0 10px;
			}
			&__link {
				font-size: 0.8em;
			}
			&__social-icons {
				margin-top: 15px;
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;

				.social-icon {
					padding: 10px 5px;
					font-size: 18px;
				}
				.social-icon:first-child {
					padding-left: 5px;
				}
			}
		}
		.copyright-container {
			width: 85%;
		}
	}
}
