@import "./colors.scss";

.header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 78%;
	width: 78%;

	.header-logo-bar {
		width: 100%;
		margin-top: 20px;
		padding-bottom: 20px;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		&__logo {
			width: 300px;
		}
		&__contact-button {
			padding: 20px;
			background: none;
			font-size: 14px;
			border: none;
			cursor: pointer;
		}
	}

	.carousel-container {
		height: 200px;
		width: 1200px;

		.baner-bg {
			width: 100%;
			height: 100%;
			background-image: url(../../img/baner1.png);
		}
	}
}
