@import "./colors.scss";

.navbar-container {
	position: relative;
	width: 70%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	box-shadow: 0 10px 10px -10px gray;
	transition: 0.4s width ease-out;

	.product-pages-buttons-container {
		padding: 0;
		margin: 0;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		list-style: none;

		&__nav-element {
			width: 200px;
			display: flex;
			justify-content: center;
		}
		&__nav-button {
			padding: 20px;
			background: none;
			border: none;
			cursor: pointer;
		}
	}
	.cart-container {
		// margin-left: 30%;
		position: relative;
		right: -50px;
		width: 50px;
		height: 50px;
		margin-right: 20px;
		display: flex;
		justify-content: center;
		align-items: center;

		&__cart-button {
			padding: 20px;
			background: none;
			border: none;
			cursor: pointer;
		}
		&__cart-icon {
			font-size: 30px;
		}
	}
	&__empty-left-spacer {
		width: 70px;
		height: 50px;
	}
}

.sticky {
	position: fixed;
	top: 0;
	margin-top: 0;
	width: 100%;
	z-index: 1;
}

.spacer {
	margin-top: 70px;
}
