@import "./colors.scss";

.news-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.news-container {
		margin-top: 50px;
		width: 60%;
	}
}

// RWD for 4k
@media (min-width: 2000px) {
	.news-section {
		.news-container {
			width: 60%;
			max-width: 1500px;
		}
	}
}

// RWD for 125% display scale
@media (max-width: 1600px) {
	.news-section {
		.news-container {
			width: 80%;
		}
	}
}
