.products-container {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.product-box {
		padding: 5px;
		margin: 5px;
		width: 240px;
		height: 400px;
		box-shadow: 0 0 10px -6px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		&__product-name {
			display: block;
			text-align: center;
			margin: 0;
			height: 60px;
		}
		&__product-image {
			margin: 20px 0;
			width: 180px;
			transition: 0.2s ease-out;
		}
		&__price-and-buy-btn {
			width: 80%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__price-span {
			font-weight: 600;
			font-size: 22px;
		}
		&__buy-btn {
			background: none;
			border: none;
			box-shadow: 0 0 10px -6px;
			width: 100px;
			height: 50px;
		}
		&__stars-and-opinions-container {
			width: 80%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 10px;
			.highlight {
				color: rgb(0, 97, 177);
				font-size: 14px;
			}
		}
		&__opinions-span {
			font-size: 12px;
			font-style: italic;
		}
		&__read-more {
			width: 50%;
			margin: 20px 0;
			display: flex;
			align-items: center;
			justify-content: space-between;
			font-weight: 600;
			font-size: 12px;
			.highlight {
				transition: 0.3s ease-out;
				font-size: 20px;
			}
		}
	}
	.product-box:hover {
		.product-box__read-more {
			.highlight {
				rotate: -90deg;
			}
		}
	}
}
