@import "./colors.scss";

.product-page-wrapper {
	margin-top: 50px;
	width: 70%;
	max-width: 1400px;
	// .product-header-wrapper {
	// 	display: flex;
	// 	// flex-direction: column;
	.product-header-container {
		padding: 50px;
		display: flex;
		justify-content: space-between;

		&__product-image {
			width: 350px;
			// height: fit-content;
		}

		&__details-container {
			display: flex;
			justify-content: space-between;
		}
		&__product-details-header {
			padding-left: 30px;
			margin-left: 30px;
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			border-left: 1px solid $darkGray;
			div {
				margin-top: 10px;
			}
		}
		&__specification-span {
			padding-bottom: 5px;
			width: 50%;
			border-bottom: 1px solid $darkGray;
		}
		&__price-and-buy-box {
			padding: 15px;
			padding-top: 25px;
			width: 100%;
			height: fit-content;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			box-shadow: 0 0 10px -6px;
		}
		&__price-box {
			margin-bottom: 30px;
			width: 80%;
			display: flex;
			justify-content: space-between;
		}
		&__price-box:nth-child(2) {
			padding-bottom: 30px;
			margin-bottom: 20px;
			border-bottom: 1px solid $gray;
		}
		&__add-to-cart-btn {
			padding: 20px;
			width: fit-content;
			background: none;
			border: none;
			font-size: 1em;
			cursor: pointer;
		}
		&__under-price-box-span {
			margin-top: 10px;
			color: $darkGray;
			font-size: 0.8em;
		}
		.price-and-buy-box-wrapper {
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}
}
// RWD for 150% display scale
@media (max-width: 1300px) {
	.product-page-wrapper {
		width: 85%;
	}
}

// RWD for mobile
@media (max-width: 992px) {
	.product-page-wrapper {
		margin-top: 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		.product-header-container {
			padding: 20px 0;
			display: flex;
			flex-direction: column;
			align-items: center;

			&__details-container {
				display: flex;
				justify-content: space-between;
				width: 90%;
			}
			&__product-image {
				width: 250px;
				margin-bottom: 30px;
			}
			&__product-details-header {
				padding-left: 0px;
				margin-left: 0px;
				width: 45%;
				font-size: 0.7em;
				border: none;

				div {
					margin-top: 10px;
				}
			}
			&__specification-span {
				padding-bottom: 5px;
				width: 80%;
				border-bottom: 1px solid $darkGray;
			}
			&__price-and-buy-box {
				padding: 15px 5px;
				width: 100%;
				height: fit-content;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				font-size: 0.8em;
				box-shadow: 0 0 10px -6px;
			}
			&__price-box {
				margin-bottom: 30px;
				width: 90%;
				display: flex;
				justify-content: space-between;
			}
			&__price-box:nth-child(2) {
				padding-bottom: 30px;
				margin-bottom: 20px;
				border-bottom: 1px solid $gray;
			}
			&__add-to-cart-btn {
				padding: 20px;
				width: fit-content;
				background: none;
				border: none;
				font-size: 1em;
				cursor: pointer;
			}
			&__under-price-box-span {
				font-size: 0.7em;
			}
			.price-and-buy-box-wrapper {
				width: 53%;
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;
			}
		}
	}
}
