.products-container {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.product-box {
		padding: 5px;
		margin: 5px;
		width: 240px;
		height: 400px;
		box-shadow: 0 0 10px -6px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;

		&__product-name {
			text-align: center;
		}
		&__product-image {
			margin: 20px 0;
			width: 180px;
			transition: 0.2s ease-out;
		}
		&__price-and-buy-btn {
			width: 80%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__price-span {
			font-weight: 600;
			font-size: 22px;
		}
		&__buy-btn {
			background: none;
			border: none;
			box-shadow: 0 0 10px -6px;
			width: 100px;
			height: 50px;
		}
		&__stars-container {
			width: 80%;
			display: flex;
			.highlight {
				color: rgb(0, 0, 0);
				font-size: 18px;
			}
		}
	}
}
