@import "./colors.scss";

.product-page-wrapper {
	margin-top: 50px;
	width: 70%;
	max-width: 1400px;
	// .product-header-wrapper {
	// 	display: flex;
	// 	// flex-direction: column;
	.product-header-container {
		padding: 50px;
		display: flex;
		justify-content: space-between;

		&__product-image {
			width: 350px;
			// height: fit-content;
		}
		&__product-details-header {
			padding-left: 30px;
			margin-left: 30px;
			width: 20%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			border-left: 1px solid $darkGray;
			div {
				margin-top: 10px;
			}
		}
		&__specification-span {
			padding-bottom: 5px;
			width: 60%;
			border-bottom: 1px solid $darkGray;
		}
		&__price-and-buy-box {
			padding: 15px;
			padding-top: 25px;
			width: 100%;
			height: fit-content;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			box-shadow: 0 0 10px -6px;
		}
		&__price-box {
			margin-bottom: 30px;
			width: 80%;
			display: flex;
			justify-content: space-between;
		}
		&__price-box:nth-child(2) {
			padding-bottom: 30px;
			margin-bottom: 20px;
			border-bottom: 1px solid $gray;
		}
		&__add-to-cart-btn {
			padding: 20px;
			width: fit-content;
			background: none;
			border: none;
			font-size: 1em;
			cursor: pointer;
		}
		&__under-price-box-span {
			margin-top: 10px;
			color: $darkGray;
			font-size: 0.8em;
		}
		.price-and-buy-box-wrapper {
			width: 30%;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
	}
}
// RWD for 150% display scale
@media (max-width: 1300px) {
	.product-page-wrapper {
		width: 85%;
	}
}
