* {
	font-family: "Montserrat", sans-serif;
}

body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}

.in-progress-box {
	position: fixed;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	bottom: 100px;
	right: 100px;
	width: 400px;
	height: 200px;
	background-color: white;
	border: 1px solid black;
	/* border-radius: 10px; */
}
.ok-btn {
	width: 100px;
	height: 50px;
	background-color: white;
	border: none;
	font-size: 20px;
	transition: 0.2s;
	cursor: pointer;
}

.in-progress-span {
	text-align: center;
	color: gray;
}

.in-progress-box--off {
	display: none;
}
